
/* COLORS: background: #282a36 lighter background: #44475a comment/ lighter lighter background: #6272a4 foreground: #f8f8f2 blue: #8be9fd green: #50fa7b orange: #ffb86c pink: #ff79c6 purple: #bd93f9 red: #ff5555 yellow: #f1fa8c */
/* Style page content */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Condensed&family=Roboto+Slab&display=swap');
.main {
    margin-top: 100px;
    margin-left: 320px;
   /* Same as the width of the sidebar */
    padding: 0px 10px;
}

body {
    font-family: 'Roboto Slab', serif;
    background-color: #282a36;
    color: #f8f8f2;
    text-align: center;
    line-height: 1.5em;
}

.wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    text-align: left;
}
#layout {
    padding: 0.25em;
}

h1 {
    font-family: 'Lato', sans-serif;
    margin-bottom: 20px;
    font-size: 2em;
}
h2 {
    font-family: 'Lato', sans-serif;
    margin: 20px 0;
    font-size: 1.5 em;
}

h3 {
    font-family: 'Lato', sans-serif;
}

p {
    margin-bottom: 10px;
    line-height: 1.5em;
}
p > a {
    color: #ff79c6;
}
a {
    color: inherit;
}
/* SIDENAV */
.sidenav {
    height: auto;
    width: 300px;
    position: fixed;
   /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    top: 0;
    left: 0;
    margin-left: 20px;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: right;
   /*border-right: 5px #282a36 solid;
   */
}
    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        display: block;
    }
.sidenav-header{
    padding: 10px 10px 0px 10px;
}
    .sidenav-header > h1 {
        font-family: 'Roboto Condensed', sans-serif;
        text-align: right;
        padding: 0px;
        color: #bd93f9;
    }

    .sidenav-header > p {
        font-size: 14px;
    }

.sidenav-nav{
    margin-left: 100px;
}
/* The navigation menu links */

nav li {
    font-family: 'Roboto Condensed', sans-serif;
    display: inline-block;
    margin: 0 7px;
    line-height: 1.5em;
    padding: 5px;
}

    nav li > .sidenav-about{
        color: #8be9fd;
    }
        nav li > .sidenav-about:hover{
            color: #f8f8f2;
            background-color: #8be9fd;
            border-radius: 5px;
        }
    nav li > .sidenav-posts{
        color: #ff5555;
    }
        nav li > .sidenav-posts:hover{
            color: #f8f8f2;
            background-color: #ff5555;
            border-radius: 5px;
        }
    nav li > .sidenav-projects{
        color: #ffb86c;
    }
        nav li > .sidenav-projects:hover{
            color: #f8f8f2;
            background-color: #ffb86c;
            border-radius: 5px;
        }
    nav li > .sidenav-contact{
        color: #ff79c6;
    }
        nav li > .sidenav-contact:hover{
            color: #f8f8f2;
            background-color: #ff79c6;
            border-radius: 5px;
        }
/*HEADER*/
header {
    background-color: #ffb86c;
}
    header .wrapper {
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
    }
    header a {
        text-decoration: none;
    }
    header .site-name {
        font-size: 1.5em;
        color: #f8f8f2;
        font-weight: bold;
    }
nav {
    margin-top: 20px;
}


a .contact {
    color: #ffb86c;
}
.description {
    margin-bottom: 40px;
}
.item-list {
    padding-left: 0px;

}
.item-list > li {
    display: block;
    padding: 20px;
    border-radius: 20px;
    background-color: #44475a;
    margin-bottom: 20px;
}
.item-list > li:last-child {
    margin-bottom: 0;
}

.item-list h1 {
    margin-bottom: 15px;
    font-size: 1.3em;
    color: #bd93f9;
}
.item-list p {
    margin-bottom: 0;
}
.tag-list {
    margin-bottom: 15px;
    padding-left: 0px;
}
.tag-list li, .tag {
    display: inline-block;
    background-color: #282a36;
    color: #50fa7b;
    padding: 4px 6px;
    border-radius: 5px;
    margin-right: 5px;
}
.tag-list a, .tag a {
    text-decoration: none;
}
.item-page .tag-list {
    display: inline-block;
}
.content {
    margin-bottom: 40px;
}
.browse-all {
    display: block;
    margin-bottom: 30px;
}
.all-tags li {
    font-size: 1.4em;
    margin-right: 10px;
    padding: 6px 10px;
}
footer {
    color: #f8f8f2;
}
@media {
    body {
        background-color: #282a36;
   }
    body, header .site-name {
        color: #f8f8f2;
   }
    
    .item-list > li {
        background-color: #44475a;
   }
    header {
        background-color: #282a36;
   }
}
@media(max-width: 600px) {
    .wrapper {
        padding: 40px 20px;
   }
}
@media screen and (max-height: 450px) {
    .sidenav {
       padding-top: 15px;
   }
    .sidenav a {
       font-size: 18px;
   }
}
