/* COLORS:
 background: #282a36
 lighter background: #44475a
 comment/ lighter lighter background: #6272a4
 foreground: #f8f8f2
 blue: #8be9fd
 green: #50fa7b
 orange: #ffb86c
 pink: #ff79c6
 purple: #bd93f9
 red: #ff5555
 yellow: #f1fa8c */

/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Condensed&family=Roboto+Slab&display=swap');

* {
    /* Makes sure padding and border are included in total height/width of elements */
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    background-color: #282a36;
    color: #f8f8f2;
    text-align: left;
    line-height: 1.5em;
}

/*******************
* Side  Navigation *
********************/

.sidenav {
    height: auto;
    width: 25%;
    float: left;
    padding-top: 5%;
    text-align: right;
}

.sidenav-header{
    padding: 10px 10px 0px 10px;
}

.sidenav-header > h1 {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0px;
    color: #bd93f9;
}

.sidenav-header > p {
    font-size: 14px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
}

    /*************************
    * Side Navigation Links *
    *************************/
        nav ul {
           padding-left: 0px;
        }

        nav li {
            font-family: 'Roboto Condensed', sans-serif;
            display: block;
            margin: 0 7px;
            line-height: 1.5em;
            padding: 5px;
        }

            nav li > .sidenav-about{
                color: #8be9fd;
            }
                nav li > .sidenav-about:hover{
                    color: #f8f8f2;
                    background-color: #8be9fd;
                    border-radius: 5px;
                }
            nav li > .sidenav-posts{
                color: #ff5555;
            }
                nav li > .sidenav-posts:hover{
                    color: #f8f8f2;
                    background-color: #ff5555;
                    border-radius: 5px;
                }
            nav li > .sidenav-projects{
                color: #ffb86c;
            }
                nav li > .sidenav-projects:hover{
                    color: #f8f8f2;
                    background-color: #ffb86c;
                    border-radius: 5px;
                }
            nav li > .sidenav-contact{
                color: #ff79c6;
            }
                nav li > .sidenav-contact:hover{
                    color: #f8f8f2;
                    background-color: #ff79c6;
                    border-radius: 5px;
                }

/***************
* Main Content *
****************/

.main {
    width: 75%;
    float: left;
    margin-top: 5%;
    padding: 0% 2%;
}



/******************************
* Basic Text Style Properties *
*******************************/
h1 {
    font-family: 'Lato', sans-serif;
    margin-bottom: 20px;
    font-size: 2em;
}
h2 {
    font-family: 'Lato', sans-serif;
    margin: 20px 0;
    font-size: 1.5 em;
}

h3 {
    font-family: 'Lato', sans-serif;
}

p {
    margin-bottom: 10px;
    line-height: 1.5em;
}
p > a {
    color: #ff79c6;
}
a {
    color: inherit;
}

/******************************
 * Item List Style Properties *
 ******************************/

article h1 {
    
    font-size: 2.25em;
    line-height: 1.5em;
}

/******************************
 * Item List Style Properties *
 ******************************/

.item-list {
    padding-left: 0px;

}

.item-list > li {
    display: block;
    padding: 20px;
    border-radius: 20px;
    background-color: #44475a;
    margin-bottom: 20px;
}
.item-list > li:last-child {
    margin-bottom: 0;
}

item-list > li img {
    width: 10%;
    float: left;
}

item-list > li article {
    width: 90%;
    float: left;
}

.item-list h1 {
    margin-bottom: 15px;
    font-size: 1.3em;
    color: #bd93f9;
}
.item-list p {
    margin-bottom: 0;
}
/******************************
 *  Tag List Style Properties *
 ******************************/

.tag-list {
    margin-bottom: 15px;
    padding-left: 0px;
}
.tag-list li, .tag {
    display: inline-block;
    background-color: #282a36;
    color: #50fa7b;
    padding: 4px 6px;
    border-radius: 5px;
    margin-right: 5px;
}
.tag-list a, .tag a {
    text-decoration: none;
}
.item-page .tag-list {
    display: inline-block;
}
.browse-all {
    display: block;
    margin-bottom: 30px;
}
.all-tags li {
    font-size: 1.4em;
    margin-right: 10px;
    padding: 6px 10px;
}

/******************************
 *   Footer Style Properties  *
 ******************************/

footer {
    color: #f8f8f2;
    text-align: center;
}

/*******************************
* @media Responsive Properties *
********************************/

@media only screen and (max-width: 700px) {
    body {
        text-align: center;
    }
    .sidenav {
        width: 100%;
        text-align: center;
    }
    .main {
        width: 100%;
    }
    nav li {
        margin: 7px 0px;
        padding: 0px;
    }
}
